<section id="content">
    <main>
        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Recent Bookings</h3>
                    <i class='bx bx-search'></i>
                    <i class='bx bx-filter'></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Fitness Center</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each response}}
                        <tr>
                             
                            <td>
                                {{!-- <img src="/images/user.jpg" class=""> --}}
                                <p>{{this.gymname}}</p>
                            </td>
                            <td>{{this.formattedisdate}}</td>
                            {{#if expired}}
                            <td><a href="/users/my_ticket/?id={{this._id}}&ticketGenerated=true" class="btn btn-success">View Ticket</a></td>
                            {{else}}
                            
                            <td><button class="btn btn-danger disabled">Expired</button></td>

                            {{/if}}
                        </tr>
                        
                        
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </main>
</section>